.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.work-area {
  background-color: #F5F5F5;
  height: 50pc;
  max-width: 100%;
}